---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/1234567898765?api_key=<TMDB_API_KEY>&language=fr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS
      X-Memc-Key:
      - 1fc6cbcb9f4d2d9196d3d0c20097532da994274d
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '15415'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Tue, 31 Jan 2023 04:12:04 GMT
recorded_with: VCR 6.1.0
