<div class="card w-100">
  <div class="card-body">
    <h5 class="card-title"><%= movie %></h5>
    <p class="card-text">TODO : Quelques infos</p>
    <div class="card-actions">
      <%= link_to t("buttons.see"), movie, class: "btn btn-sm btn-primary" %>
    </div>
  </div>
</div>