<div class="container-fluid">
  <h1>Accueil</h1>
  <p>Bienvenue dans le chapeau du Petit Rex !</p>

  <% if @season.present? %>
    <h2>Dernier tirage</h2>
    <%= link_to "Voir la saison", @season, class: "btn btn-primary" %>
    <div class="row mt-3">
      <div class="col-md-2">
        <%= render "seasons/suggestions/suggestion", suggestion: @current_suggestion %>
      </div>
    </div>
  <% end %>
</div>
